<OpenplayerPlayer @src="https://cdn.rasset.ie/hls-radio/ieradio1/playlist.m3u8">

</OpenplayerPlayer>
<hr>
<RtePlay @model={{m}} @audioId="https://cdn.rasset.ie/hls-radio/ieradio1/playlist.m3u8">Play Live</RtePlay>

<hr>
<RtePlay @model={{m}} @audioId=9>Play Live</RtePlay>
<ul>
  {{#each model as |m| }}
    <li>{{m.title}} {{m.itemid}}
      <RtePlay @model={{m}} @audioId={{m.itemid}}>Play</RtePlay>
    </li>
  {{/each}}
</ul>
{{outlet}}