<h2 id="title">Welcome to Ember</h2>
<OpenplayerPlayer />
<hr>
<RtePlay @model={{m}} @audioId="https://cdn.rasset.ie/hls-radio/ieradio1/playlist.m3u8">Play Live</RtePlay>
<RtePlay @model={{m}}
  @audioId="https://cdn.rasset.ie/manifest/audio/2019/0404/20190404_rteradio1-bitesize-theryantub_c21535005_21535006_261_/manifest.m3u8">
  Play Back</RtePlay>

<hr>
<ul>
  {{#each model as |m| }}
    <li>{{m.title}} {{m.itemid}}
      <RtePlay @model={{m}} @audioId={{m.itemid}}>Play</RtePlay>
    </li>
  {{/each}}
</ul>
{{outlet}}